<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <h2>Edit Your Post content</h2>
    <p>Id : <b><%=post.id%></b></p>
    <p>Username : @<%=post.username%></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea name="content" id="" cols="30" rows="10" style="font-style: italic;"><%=post.content%></textarea>
        <button>Submit</button>
    </form>
</body>
</html>